@mixin ig-button {
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    font-weight: normal;
    font-family: "Arial";
    font-size: 16px;
    background-color: hubl("$blue_button_color");
    border-radius: 30px;
    color: white;
    padding: 15px 30px;
    outline: 0;
    border: 2px  hubl("$blue_button_color") solid;
    text-decoration: none;
    transition: all .2s linear;
    min-width: 250px;
    margin: 0 7.5px;
    text-align: center;
    margin-bottom: 20px;

    &:hover{
        color: #0497c2;
        background-color: white;
        transition: all .2s linear;
    }
}

@mixin ig-button--primary {
    font-weight:600;
}


a {
    &.cta_button, &.cta {
        text-decoration: none;
        box-sizing: border-box !important;
        margin-bottom: 20px;
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            &:before {
                display: none;
            }
        }
    }
    &.ig-cta-primary {
        @include ig-button;
    }
    &.ig-cta-primary {
        @include ig-button--primary;
    }
}
