* {
	outline: none;
    box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

body {
	overflow: hidden;
}

html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border-style: none;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

body .row-fluid [class*="span"] {
	min-height: 1px;
}



// margin top
.mt {

	@for $i from 1 through 10 {
		&--#{$i*10} {
			margin-top: #{$i*10}px;
		}
	}

	@media (min-width: 576px) {

		@for $i from 1 through 10 {
			&--sm-#{$i*10} {
				margin-top: #{$i*10}px;
			}
		}
	}

	@media (min-width: 768px) {

		@for $i from 1 through 10 {
			&--md-#{$i*10} {
				margin-top: #{$i*10}px;
			}
		}
	}

	@media (min-width: 992px) {

		@for $i from 1 through 10 {
			&--lg-#{$i*10} {
				margin-top: #{$i*10}px;
			}
		}
	}
}

// margin bottom
.mb {

	@for $i from 1 through 10 {
		&--#{$i*10} {
			margin-bottom: #{$i*10}px;
		}
	}

	@media (min-width: 576px) {

		@for $i from 1 through 10 {
			&--sm-#{$i*10} {
				margin-bottom: #{$i*10}px;
			}
		}
	}

	@media (min-width: 768px) {

		@for $i from 1 through 10 {
			&--md-#{$i*10} {
				margin-bottom: #{$i*10}px;
			}
		}
	}

	@media (min-width: 992px) {

		@for $i from 1 through 10 {
			&--lg-#{$i*10} {
				margin-bottom: #{$i*10}px;
			}
		}
	}
}

// padding top
.pt {

	@for $i from 1 through 10 {
		&--#{$i*10} {
			padding-top: #{$i*10}px;
		}
	}

	@media (min-width: 576px) {

		@for $i from 1 through 10 {
			&--sm-#{$i*10} {
				padding-top: #{$i*10}px;
			}
		}
	}

	@media (min-width: 768px) {

		@for $i from 1 through 10 {
			&--md-#{$i*10} {
				padding-top: #{$i*10}px;
			}
		}
	}

	@media (min-width: 992px) {

		@for $i from 1 through 10 {
			&--lg-#{$i*10} {
				padding-top: #{$i*10}px;
			}
		}
	}
}

// padding bottom
.pb {

	@for $i from 1 through 15 {
		&--#{$i*10} {
			padding-bottom: #{$i*10}px;
		}
	}

	@media (min-width: 576px) {

		@for $i from 1 through 15 {
			&--sm-#{$i*10} {
				padding-bottom: #{$i*10}px;
			}
		}
	}

	@media (min-width: 768px) {

		@for $i from 1 through 15 {
			&--md-#{$i*10} {
				padding-bottom: #{$i*10}px;
			}
		}
	}

	@media (min-width: 992px) {

		@for $i from 1 through 15 {
			&--lg-#{$i*10} {
				padding-bottom: #{$i*10}px;
			}
		}
	}
}

// margin bottom for modules in flexible column
.flex-mb {

	@for $i from 1 through 15 {
		&--#{$i*10} {

			> span {

				> div {
					margin-bottom: #{$i*10}px;
				}
			}
		}
	}

	@media (min-width: 576px) {

		@for $i from 1 through 15 {
			&--sm-#{$i*10} {

				> span {

					> div {
						margin-bottom: #{$i*10}px;
					}
				}
			}
		}
	}

	@media (min-width: 768px) {

		@for $i from 1 through 15 {
			&--md-#{$i*10} {

				> span {

					> div {
						margin-bottom: #{$i*10}px;
					}
				}
			}
		}

	}

	@media (min-width: 992px) {

		@for $i from 1 through 15 {
			&--lg-#{$i*10} {

				> span {

					> div {
						margin-bottom: #{$i*10}px;
					}
				}
			}
		}
	}
}

.container {
    width: 100%;
	max-width: 1170px;
	padding: 0 30px;

	margin: 0 auto;

	&:before, &:after {
		display: table;
		content: "";
	}

	&:after {
		clear: both;
	}
}

.text-center{
    align-items: center;
}

.background{
	&--yellow{
		background-color:hubl("$first_color");
	}
}