// @font-face {
//   font-family: 'ClickrayIcons';
//   src:  url('//cdn2.hubspot.net/hubfs/685080/ClickRay%20Fonts/cr-icons.eot?rxli6k');
//   src:  url('//cdn2.hubspot.net/hubfs/685080/ClickRay%20Fonts/cr-icons.eot?rxli6k#iefix') format('embedded-opentype'),
//   url('//cdn2.hubspot.net/hubfs/685080/ClickRay%20Fonts/cr-icons.ttf?rxli6k') format('truetype'),
//   url('//cdn2.hubspot.net/hubfs/685080/ClickRay%20Fonts/cr-icons.woff?rxli6k') format('woff'),
//   url('//cdn2.hubspot.net/hubfs/685080/ClickRay%20Fonts/cr-icons.svg#ClickRayIcons') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// [class*=" fa-"] {
//   color: hubl("$first_color");
// }

// [class^="cr-icon-"], [class*=" cr-icon-"] {
//   color: hubl("$first_color");
//   display: inline-block;
//   font-family: 'ClickrayIcons' !important;
//   speak: none;
//   font-style: normal;
//   font-weight: normal;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// .cr-icon-square {
//   &:before {
//     content: "\e941";
//   }
// }

// .cr-icon-square-check {
//   &:before {
//     content: "\e902";
//   }
// }

// .cr-icon-circle-check {
//   &:before {
//     content: "\e929";
//   }
// }

// .cr-icon-chat-check {
//   &:before {
//     content: "\e937";
//   }
// }

// .cr-icon-exclamation-mark {
//   &:before {
//     content: "\e945";
//   }
// }

// .cr-icon-clock {
//   &:before {
//     content: "\e932";
//   }
// }

// .cr-icon-smile {
//   &:before {
//     content: "\e946";
//   }
// }

// .cr-icon-calendar {
//   &:before {
//     content: "\e906";
//   }
// }

// .cr-icon-map {
//   &:before {
//     content: "\e917";
//   }
// }

// .cr-icon-chat {
//   &:before {
//     content: "\e904";
//   }
// }

// .cr-icon-book {
//   &:before {
//     content: "\e910";
//   }
// }

// .cr-icon-open-book {
//   &:before {
//     content: "\e93b";
//   }
// }

// .cr-icon-arrow-left {
//   &:before {
//     content: "\e93d";
//   }
// }

// .cr-icon-arrow-right {
//   &:before {
//     content: "\e93c";
//   }
// }

// .cr-icon-arrow-down {
//   &:before {
//     content: "\e92c";
//   }
// }

// .cr-icon-arrow-up {
//   &:before {
//     content: "\e92d";
//   }
// }

// .cr-icon-paper-plane {
//   &:before {
//     content: "\e919";
//   }
// }

// .cr-icon-quote {
//   &:before {
//     content: "\e922";
//   }
// }

// .cr-icon-quote-2 {
//   &:before {
//     content: "\e921";
//   }
// }

// .cr-icon-quote-fill {
//   &:before {
//     content: "\e947";
//   }
// }

// .cr-icon-basket {
//   &:before {
//     content: "\e915";
//   }
// }

// .cr-icon-gift {
//   &:before {
//     content: "\e93e";
//   }
// }

// .cr-icon-tag {
//   &:before {
//     content: "\e93f";
//   }
// }

// .cr-icon-comment {
//   &:before {
//     content: "\e940";
//   }
// }

// .cr-icon-hyperlink {
//   &:before {
//     content: "\e942";
//   }
// }

// .cr-icon-circle-email {
//   &:before {
//     content: "\e943";
//   }
// }

// .cr-icon-desktop-screen {
//   &:before {
//     content: "\e944";
//   }
// }

// .cr-icon-circle-money {
//   &:before {
//     content: "\e903";
//   }
// }

// .cr-icon-case {
//   &:before {
//     content: "\e909";
//   }
// }

// .cr-icon-cogs {
//   &:before {
//     content: "\e911";
//   }
// }

// .cr-icon-megaphone {
//   &:before {
//     content: "\e925";
//   }
// }

// .cr-icon-balloon {
//   &:before {
//     content: "\e92b";
//   }
// }

// .cr-icon-coins {
//   &:before {
//     content: "\e92e";
//   }
// }

// .cr-icon-faq {
//   &:before {
//     content: "\e92f";
//   }
// }

// .cr-icon-chart {
//   &:before {
//     content: "\e930";
//   }
// }

// .cr-icon-chart-2 {
//   &:before {
//     content: "\e936";
//   }
// }

// .cr-icon-circle-chart {
//   &:before {
//     content: "\e907";
//   }
// }

// .cr-icon-palette {
//   &:before {
//     content: "\e931";
//   }
// }

// .cr-icon-dev {
//   &:before {
//     content: "\e938";
//   }
// }

// .cr-icon-dev-2 {
//   &:before {
//     content: "\e934";
//   }
// }

// .cr-icon-circle-play {
//   &:before {
//     content: "\e935";
//   }
// }

// .cr-icon-tools {
//   &:before {
//     content: "\e939";
//   }
// }

// .cr-icon-tools-2 {
//   &:before {
//     content: "\e93a";
//   }
// }

// .cr-icon-pig {
//   &:before {
//     content: "\e900";
//   }
// }

// .cr-icon-x {
//   &:before {
//     content: "\e912";
//   }
// }

// .cr-icon-circle-x {
//   &:before {
//     content: "\e901";
//   }
// }

// .cr-icon-cart {
//   &:before {
//     content: "\e905";
//   }
// }

// .cr-icon-magic-wand {
//   &:before {
//     content: "\e908";
//   }
// }

// .cr-icon-heart {
//   &:before {
//     content: "\e90a";
//   }
// }

// .cr-icon-circle-chevron-left {
//   &:before {
//     content: "\e90b";
//   }
// }

// .cr-icon-circle-chevron-right {
//   &:before {
//     content: "\e90d";
//   }
// }

// .cr-icon-chevron-right {
//   &:before {
//     content: "\e90e";
//   }
// }

// .cr-icon-chevron-left {
//   &:before {
//     content: "\e90c";
//   }
// }

// .cr-icon-board {
//   &:before {
//     content: "\e90f";
//   }
// }

// .cr-icon-download {
//   &:before {
//     content: "\e913";
//   }
// }

// .cr-icon-equalizer {
//   &:before {
//     content: "\e914";
//   }
// }

// .cr-icon-map-marker {
//   &:before {
//     content: "\e916";
//   }
// }

// .cr-icon-paper-dropbox {
//   &:before {
//     content: "\e918";
//   }
// }

// .cr-icon-paper {
//   &:before {
//     content: "\e91a";
//   }
// }

// .cr-icon-paper-2 {
//   &:before {
//     content: "\e91b";
//   }
// }

// .cr-icon-paperclip {
//   &:before {
//     content: "\e91c";
//   }
// }

// .cr-icon-pencil {
//   &:before {
//     content: "\e91d";
//   }
// }

// .cr-icon-phone {
//   &:before {
//     content: "\e91e";
//   }
// }

// .cr-icon-pin {
//   &:before {
//     content: "\e91f";
//   }
// }

// .cr-icon-printer {
//   &:before {
//     content: "\e920";
//   }
// }

// .cr-icon-search {
//   &:before {
//     content: "\e923";
//   }
// }

// .cr-icon-target {
//   &:before {
//     content: "\e924";
//   }
// }

// .cr-icon-upload {
//   &:before {
//     content: "\e926";
//   }
// }

// .cr-icon-white-paper {
//   &:before {
//     content: "\e927";
//   }
// }

// .cr-icon-umbrella {
//   &:before {
//     content: "\e928";
//   }
// }
