h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    color: hubl("$gray_color");
}

p {
    hyphens: auto;

    @media(max-width:767px) {
        font-size: 16px;
    }
}

h2.h1,
h3.h1,
h4.h1,
h5.h1,
h6.h1,
.h1 h2,
.h1 h3,
.h1 h4,
.h1 h5,
.h1 h6 {
    font-size: 28px !important;
    margin-bottom: 20px !important;
    margin-top: 0 !important;
    color: #424242 !important;

    @media(min-width:768px) {
        font-size: 50px !important;
    }
}


.text {
    &--size {
        &--24 {

            p,
            span,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 24px;

                @media(max-width:767px) {
                    font-size: 20px;
                }
            }
        }
    }
}

// ul {
//     // font-size:20px;
//     // @media(max-width:767px){
//     //     font-size:16px;
//     // }
// }

.list-center{
.hs_cos_wrapper_type_rich_text, .hs_cos_wrapper_type_inline_rich_text{
ul{
    li{
        list-style-position: inside !important;
        text-align:center !important;
    }
}
}
}

.list-left{
    .hs_cos_wrapper_type_rich_text, .hs_cos_wrapper_type_inline_rich_text{
        ul{
            li{
                list-style-position: outside !important;
                text-align: left !important;
            }
        }
        }
}

.hs-cta-wrapper{
    .hs-cta-node{
        .cta_button{
            white-space: normal !important;
        }
    }
}