$dev_version : true;
$variables: ( 
	"$font": "Nunito",
	"$first_color": #ffdd00,
    "$second_color": rgb(242, 169, 57),
    "$gray_color": #424242,
	"$blue_color": #0098c3,
	"$blue_button_color":#0497c1
	// "$outline_text":#f9f9f9,
	// "$cta_background": #ed145b,
	// "$cta_hover_background": #ffffff,
	// "cta_hover_dark":#e41358,
	// "$main_font_color": #171717,
	// "$second_font_color": #b7b7b7,
	// "$dark": #292935,
	// "$lightGrey": #f1f1f1,
	// "$headerBG": #fff
	);

// $browser-context: 16; // Font size bazowy w px na body, html
// // Przelicznik z px na em
// @function em($pixels, $context: $browser-context) {
// 	@return #{$pixels/$context}em;
// }

// @function rem($pixels, $context: $browser-context) {
// 	@return #{$pixels/$context}rem;
// }

/*[del] Pętla dodająca zmienne 'habowe' */

@if $dev_version==false {
	@each $var-name,
	$var-value in $variables {
		/*=!= {% set #{$var_name} = "#{$var_value}" %} =!=*/
	}
}

/*[del] Metoda zmieniajace zmienne habowe na sass i odwrotnie, zależne od zmiennej dev_version */

@function hubl($var) {
	@if $dev_version==false {
		@return unquote('/*=={{ '+$var+' }}==*/');
	}
	@else {
		@return map-get($variables, $var);
	}
}

@function hubl_rgba($var, $alpha) {
	@if $dev_version==false {
		@return unquote('/*==rgba({{ '+$var+'|convert_rgb }},'+$alpha+')==*/');
	}
	@else {
		@return rgba(map-get($variables, $var), $alpha);
	}
}