.infoguard-changes-2020 {
    .header-wrapper.header-with-logo {
        .tc-header.lead-header {
            h1 {
                background-image: none;
            }
        }
    }

    .right-column {
        .cta-center {
            text-align: center;
        }

        &.move-up {
            margin-top: 3px;
        }
    }

}