.pillar-page {
    p{
        font-size:20px;
    }

    .hs-cta-wrapper {
      p {
        font-size: inherit;
      }
    }

    .widget-type-rich_text.hs_cos_wrapper_type_module {
        .hs_cos_wrapper_type_rich_text {
            ul {
                font-size:20px;
                padding: 0;
                font-weight: 600;
                li {
                    list-style-type: none;
                    &:before {
                        display: inline-block;
                      color: hubl("$first_color");
                      font-size: 36px;
                      content: '+';
                      line-height: 0.7;
                      margin-right: 10px;
                      transform:translateY(5px);
                      @media(max-width:767px){
                          font-size:32px;
                      }
                    }
                }
            }
        }
    }

}