.accordion-new-wrapper {
    .accordion-new {
        .accordion-element {
            .accordion-header {
                .standard-text {
                    font-size:20px;
                    text-align: center;
                    font-weight:600;
                    cursor: pointer;
                        &:before {
                            display: inline-block;
                            color: hubl("$first_color");
                            width:23px;
                            font-size: 36px;
                            content: '+';
                            line-height: 0.7;
                            margin-right: 7px;
                            transform: translateY(5px);
                        }
                        &.active{
                            &:before {
                                content: '-';
                            }
                        }
                }
            }

            .accordion-description {

            }
        }
    }
}