.advent-banner {
    &--tile {
        border-bottom: none !important;
        width: 100%;
        height: 340px;
        display: flex;
        align-items: center;
        margin: 0 auto 15px auto;

        @media(min-width:481px) {
            width: 360px !important;
        }

        @media(min-width:768px) {
            width: 325px !important;
            height: 340px;
            margin-top: 8px;
        }

        @media(min-width:991px) {
            width: 205px !important;
            height: 220px;
        }

        @media(min-width:1201px) {
            width: 255px !important;
            height: 265px;
        }

        .container {
            width: 100%;

            .advent-banner__content {
                margin: 0;

                .advent-banner__day {
                    width: 130px;
                    height: 130px;
                    margin: 0 auto;

                    @media(min-width:991px) {
                        height: 90px;
                    }

                    @media(min-width:1201px) {
                        height: 130px;
                    }

                    a {
                        font-size: 65px;
                        line-height: 140px;

                        @media(min-width:991px) {
                            line-height: 95px;
                        }

                        @media(min-width:1201px) {
                            line-height: 140px;
                        }
                    }
                }

                .advent-banner__title {
                    line-height: 1;
                    text-align: center;

                    a {
                        font-size: 22px;

                        @media(min-width:991px) {
                            font-size: 18px;
                        }

                        @media(min-width:1201px) {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}