.ig-cta-popup {
	position: fixed;
	z-index: 999;
	overflow: visible;
	visibility: hidden;
	opacity: 0;
	transition: all .3s ease;

	&--center {
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		align-items: center;

		.ig-cta-popup__mask {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-color: rgba(0,0,0,0.7);
		}

		.ig-cta-popup__container {
			margin-left: auto;
			margin-right: auto;
			transform: translateY(50%);
			transition: all .3s ease;
		}

		.ig-cta-popup__inner {
			border-radius: 5px;
		}
	}

	&--bottom-right {
		bottom: 0;
		right: 0;
		border-radius: 5px 0 0 0;
		visibility: visible;
		opacity: 1;

		transform: translateY(100%);
	}

	&--show {
		visibility: visible;
		opacity: 1;

		&.ig-cta-popup--bottom-right {
			transform: translateY(0);
		}

		&.ig-cta-popup--center {
			.ig-cta-popup__container {
				transform: translateY(0);
			}
		}
	}

	&__container {
		width: 100%;
		max-width: 420px;

		&--wide {
			max-width: 520px;
		}
	}

	&__inner {
		position: relative;
		background-color: hubl("$blue_color");
		padding: 14px 21px 21px;
		color: #fff;
		border-radius: 5px 0 0 0;
		box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
		display: flex;
	}

	&__close {
		position: absolute;
		right: 0;
		top: 0;
	}

	&__close-button {
		-webkit-appearance: none;
		appearance: none;
		position: relative;
		background-color: transparent;
		border: 0;
		padding: 0;
		margin: 0;

		&:before {
			display: inline-block !important;
			border-radius: 0.33em;
			content: "\00D7";
			font-size: 25px;
			font-weight: normal;
			line-height: 25px;
			width: 40px;
			height: 40px;
			text-align: right;
			color: #fff;
			background: transparent;
			padding-top: 6px;
			padding-right: 12px;
		}
	}

	&__image {
		width: 35%;
		padding-right: 15px;
	}

	&__content {
		width: 65%;
	}

	&__title {

		h4 {
			margin-top: 0;
			margin-bottom: 0.6em;
			font-size: 18px;
			font-weight: 600;
		}
	}

	&__text {

		.hs_cos_wrapper_type_inline_rich_text {

			p {
				line-height: 1.4;
				margin-bottom: 0.6em;
				font-size: 14px;
				font-weight: normal;
			}
		}
	}

	&__cta {

		.cta_button {
			display: inline-block;
			margin-top: 10px;
			margin-bottom: 0;
			padding: 0.7em 1.7em;
			font-weight: normal;
			border-radius: 0.25em;
			-webkit-appearance: none;
			cursor: pointer;
			font-size: 14px;
			line-height: 1;
			width: 100% !important;
			text-decoration: none;
			background: #FFFFFF;
			color: #0099CC;
			text-align: center;

			&:hover {
				color: #007aa3;
			}
		}
	}
}