.download-image-slider-wrapper {
    .element-header {
        text-align: center;
        margin-bottom:30px;
        hyphens: auto;
    }
    .download-image-slider {
        @media(max-width:1280px){
            padding:0 80px;
        }
        @media(max-width:575px){
            padding:0 30px;
        }

        .element {
            .element-image {

                img {
                    margin-left: auto;
                    margin-right: auto;
                }
                
            }
        }
        .slick-track{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .slick-arrow{
            display: block;
            position: absolute;
            width: 55px;
            height: 45px;
            top: 40%;
            border: 0;
            font-size: 0;
            @media(max-width:575px){
                width: 27px;
            }
        }
        .slick-prev {
            left: -75px;
            background: url(https://cdn2.hubspot.net/hubfs/1865239/karriere/arrow-slider-left.png);
            @media(max-width:1280px){
                left: 0px;
            }
            @media(max-width:575px){
                left:-15px;
             }


        }
        .slick-next {
            right: -75px;
            background: url(https://cdn2.hubspot.net/hubfs/1865239/karriere/arrow-slider-right.png);
            @media(max-width:1280px){
               right:0;
            }
            @media(max-width:575px){
                background-position-x: -1px;
                right:-15px;
             }
        }
    }
}