.slide{
    &__left-side-content{
        position: absolute;
        bottom: 10px;
        left: 25px;
        color: white;
        &--hid-on-mobile{
            display:none;
            @media(min-width:768px){
                display:block;
            }
        }
    }
}