.ig-quiz-wrapper {
    padding: 50px 0;
    background-color: hubl("$first_color");
    transition: .4s ease;
    min-height: 500px;
    display: flex;
    align-items: center;

    // &.correct {
    //     background-color: #29FF55;
    //     transition: .4s ease;
    // }

    // &.incorrect {
    //     background-color: #FF3F39;
    //     transition: .4s ease;
    // }

    .ig-quiz {
        position: relative;


        &__inner {
            @media (max-width: 1280px) {
                padding: 0 80px;
            }

            @media (max-width: 575px) {
                padding: 0 30px;
            }
        }

        .ig-quiz-element {


            &__arrows {
                display: flex;
            }

            &.quiz-start {
                // display: none;

                .start-header {
                    margin-bottom: 20px;
                    text-align: center;
                }

                .start-description {
                    margin-bottom: 30px;
                }

                .start-quiz {
                    text-align: center;
                }
            }

            // &.correct,
            // &.incorrect {
            //     >div {
            //         min-height: 315px;
            //         display: flex;
            //         flex-direction: column;
            //         justify-content: center;
            //         align-items: center;

            //         i {
            //             font-size: 100px;
            //             margin-bottom: 20px;
            //         }

            //         span {
            //             font-size: 36px;
            //             font-weight: bold;
            //             text-align: center;
            //         }
            //     }
            // }

            &.quiz-question {
                // display: none;

                .question {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    .number {
                        font-size: 60px;
                        font-weight: 700;
                        margin-right: 15px;
                    }
                }

                .answers {
                    padding: 0 15px;

                    .answer {
                        border: 2px solid #ffffff;
                        background-color: white;
                        padding: 8px 30px;
                        margin-bottom: 10px;
                        transition: .2s ease;

                        // box-shadow: 0px 3px 10px black;
                        &.green {
                            background-color: #29FF55;
                            border: 2px solid #29FF55;
                        }

                        &.red {
                            background-color: #FF3F39;
                            border: 2px solid #FF3F39;
                        }

                        cursor: pointer;

                        p {
                            margin: 0;
                        }

                        &:hover {
                            border: 2px solid hubl("$blue_color");
                            transition: .3s ease;
                        }
                        &.disabled{
                            pointer-events: none;
                            &:hover{
                                border: 2px solid transparent;
                            }
                        }
                    }
                }
            }

            &.quiz-result {
                .result-header {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 15px;

                    @media(max-width:575px) {
                        flex-direction: column;
                    }

                    .image {

                        padding: 0 20px 0 0;

                        @media(max-width:575px) {
                            padding: 0 0 20px 0;
                        }

                        img {
                            width: 80px;
                        }
                    }

                    .title {
                        h2 {
                            margin: 0;
                            hyphens: auto;

                            @media(max-width:575px) {
                                text-align: center;
                            }
                        }
                    }
                }

                .result-description {}

                .result-buttons {
                    display: flex;
                    flex-direction: column;
                    max-width: 300px;
                    margin: 0 auto;

                    a {
                        white-space: inherit;
                    }
                }
            }

            &.simple-text-after-answer {

            }

            .next-question, .show-simple-answer {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                >button {
                    background-size: cover;
                    background-image: url(https://cdn2.hubspot.net/hubfs/1865239/karriere/arrow-slider-right.png);
                    width: 55px;
                    height: 45px;
                    background-color: transparent;
                    border: none;

                    @media (max-width: 575px) {
                        width: 27px;
                        background-position-x: -1px;
                    }
                }

                &--prev {
                    margin-right: auto;
                    left: -50px;

                    @media (max-width: 1280px) {
                        left: 30px;
                    }

                    @media (max-width: 575px) {
                        left: 15px;
                    }

                    > button {
                        transform: scale(-1);
                    }
                }

                &--next {
                    margin-left: auto;
                    right: -50px;

                    @media (max-width: 1280px) {
                        right: 30px;
                    }

                    @media (max-width: 575px) {
                        right: 15px;
                    }
                }
            }
        }
    }
}