.scroll-back-button{
    // display:none;
    position:fixed;
    bottom:20px;
    right:-100px;
    z-index: 5;
    &__button-image{
        cursor: pointer;
        max-width:50px;
        transition: .3s ease;
        @media(min-width:768px){
            max-width:70px;
        }
        &:hover{
            transform: scale(1.15);
            transition: .3s ease;
        }
        img{
            width:100%;
        }
    }
}