.simple-blog-feed ul {
  list-style: none;
  padding-left: 0;
  text-align: center;

  li {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    font-family: "Gotham";
    color: #424242;
    margin-left: 30px;
    display: block;

    a {
      position: relative;
      text-decoration: none;

      &:before {
        font-weight: 100;
        content: "+";
        font-size: 30px;
        position: absolute;
        left: -30px;
        top: -11px;
        color: #fd0;
        line-height: 1.7;
      }
    }
  }
}