.yellow-cross-menu ul li {
	display: block;  
  text-align: center;
}
.yellow-cross-menu > div {
	z-index: 1;
}
.yellow-cross-wrapper .yellow-cross-menu li a {
	display: inline-block;
  color: hubl("$gray_color");
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  padding:5px 20px !important;
  white-space: inherit;

}
.yellow-cross-wrapper .yellow-cross-menu li a:before {
	display: inline-block;
  color: hubl("$first_color");
  font-size: 36px;
  content: '+';
  line-height: 0.7;
  margin-right: 10px;
  transform:translateY(3px);
}
.yellow-cross-wrapper .yellow-cross-menu li a:hover {
  color: hubl("$blue_color");
}
@media (max-width: 545px) {
  .yellow-cross-wrapper ul {
    margin: 15px !important; 
  }
  .yellow-cross-wrapper .yellow-cross-menu li a {
    font-size: 24px;
  }  
}
@media (max-width: 450px) {
.yellow-cross-wrapper .yellow-cross-menu li a:before {
    display: inline-block;
    color: hubl("$first_color");
    font-size: 20px;
    content: '+';
    line-height: 18px;
    margin-right: 10px;
  }
  .yellow-cross-wrapper ul {
    margin: 0px !important; 
  }
  .yellow-cross-wrapper .yellow-cross-menu li a {
    font-size: 20px;
    padding: 5px !important;
  }  
}